<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Untitled</title>
        {% endif %}
    </head>

    <body>
        <span class="wholeweb">
            <span class="header">
                {% block header %}
                    <p><h1>Need for Speed: Most Wanted 2 - Car Search</h1></p>
                    <div class="line"></div>
                    <p>
                        <b>
                            <a href="/">Home</a>
                            <a href="/about">About</a>
                        </b>
                    </p>
                    <div class="line"></div>
                {% endblock %}
            </span>

            <span class="main">
                {% block main %}
                    The default main block.
                {% endblock %}
            </span>

            <span class="footer">
                {% block footer %}
                    <div class="line"></div>
                    <div><p>This app was created by <a href="http://www.stoked.cz/">Matyáš Skalický</a> in 2018</p></div>
                {% endblock %}
            </span>
        </span>
    </body>
</html>
