<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Untitled</title>
        {% endif %}
    </head>
    <body>
        <div id="wholeweb">
            <!-- HEADER ----------------------------------------------------------------------------------------------->
            <div id="header">
                {% block header %}
                    <div id="headertext">
                        <h1>Need for Speed: Most Wanted 2 Top(K) Treshold Car Selector</h1>
                    </div>
                    <div id="navbar">
                        <span class="navbarbutton">
                            <a href="/">Home</a>
                        </span>
                        <span class="navbarbutton">
                            <a href="/#">Settings</a>
                        </span>
                        <span class="navbarbutton">
                            <a href="/about">About</a>
                        </span>
                    </div>
                {% endblock %}
            </div>
            <!-- MAIN ------------------------------------------------------------------------------------------------->
            <div id="main">
                {% block main %}
                    The default main block.
                {% endblock %}
            </div>
            <!-- FOOTER ----------------------------------------------------------------------------------------------->
            <div id="footer">
                {% block footer %}
                    <p>
                        This app was created by <a href="http://www.stoked.cz/">Matyáš Skalický</a> in 2018
                    </p>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
