<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-16" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-3.3.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='scripts/functions.js')}}"></script>
        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>Untitled</title>
        {% endif %}
    </head>
    <body>
        <div id="whole_web">
            <!-- HEADER ----------------------------------------------------------------------------------------------->
            <div id="header">
                {% block header %}
                    <div id="headertext">
                        <h1>TOP-K CAR ATTRIBUTE SELECTOR</h1>
                    </div>
                    <div id="navbar">
                        <span class="navbar_button">
                            <a href="/">Home</a>
                        </span>
                        <span class="navbar_button">
                            <a href="/settings">Settings</a>
                        </span>
                        <span class="navbar_button">
                            <a href="/about">About</a>
                        </span>
                        <span class="navbar_button">
                            <a href="https://github.com/MSKL/fit-bi-vmw-project">Github</a>
                        </span>
                    </div>
                {% endblock %}
            </div>
            <!-- MAIN ------------------------------------------------------------------------------------------------->
            <div id="main">
                {% block main %}
                    The default main block.
                {% endblock %}
            </div>
            <!-- FOOTER ----------------------------------------------------------------------------------------------->
            <div id="footer">
                {% block footer %}
                    <p> This app was created by <a href="http://www.stoked.cz/">Matyáš Skalický</a> in 2018 as a semestral
                        project for the <a href="https://fit.cvut.cz/predmety/bi-vwm">BI-VMW</a> subject. </p>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
