{% extends "baser.html" %}

{% block main %}
    <table class="product_table">
        <thead>
            <tr>
                <form action="/" method="get">
                    <td>
                        <select name="agregate">
                            <option value="sum" {% if agregate == "sum" %}selected{% endif %}>sum</option>
                            <option value="max" {% if agregate == "max" %}selected{% endif %}>max</option>
                            <option value="naivek" {% if agregate == "naivek" %}selected{% endif %}>naivek</option>
                        </select>
                        <input type="number" name="quantity" min="3" max="10" value="{{ quantity or 3 }}">
                        <input type="submit" value="Sort by parameters">
                    </td>
                    <td>
                        <input type="checkbox" name="sort" value="accel"
                               {% if checkdict['accel'] == True %}checked{% endif %}>
                        Acceleration
                    </td>
                    <td>
                        <input type="checkbox" name="sort" value="speed"
                               {% if checkdict['speed'] == True %}checked{% endif %}>
                        Speed
                    </td>
                    <td>
                        <input type="checkbox" name="sort" value="handl"
                               {% if checkdict['handl'] == True %}checked{% endif %}>
                        Handling
                    </td>
                </form>
            </tr>
        </thead>
        <tbody>
            {% for car in database %}
            <tr>
                <td>{{ car.key().get_name_value() }}</td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_accel_value() }}%">{{ car.key().get_accel_value() }}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_speed_value() }}%">{{ car.key().get_speed_value() }}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_handl_value() }}%">{{ car.key().get_handl_value() }}%</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><p>The query took {{ querytime }} seconds.</p></div>
{% endblock %}
