{% extends "baser.html" %}

{% block main %}
    <table class="product_table">
        <thead>
            <tr>
                <form action="/" method="get" onsubmit="return validate_form()">
                    <td>
                        <!-- The settings select boxes -->
                        <select name="agregate" title="comparsion function">
                            <option value="sum" {% if request.args.get('agregate') == "sum" or None %}selected{% endif %}>sum</option>
                            <option value="max" {% if request.args.get('agregate') == "max" %}selected{% endif %}>max</option>
                        </select>
                        <select name="algorithm" title="query algorithm">
                            <option value="naive" {% if request.args.get('algorithm') == "naive" or None %}selected{% endif %}>naive</option>
                            <option value="treshold" {% if request.args.get('algorithm') == "treshold" %}selected{% endif %}>treshold</option>
                        </select>
                        <!-- Quantity and submit button -->
                        <input type="number" name="quantity" min="1" max="20" value="{{ request.args.get('quantity') or 10 }}" title="query size">
                        <input type="submit" value="Sort by parameters" title="submit the query">
                    </td>
                    <!-- Checkboxes for sorting based on individual/combined atributes -->
                    <td>
                        <input type="checkbox" name="sort" value="accel" title="acceleration"
                               {% if "accel" in request.args.getlist('sort') %}checked{% endif %}>
                        Acceleration
                    </td>
                    <td>
                        <input type="checkbox" name="sort" value="speed" title="speed"
                               {% if "speed" in request.args.getlist('sort') %}checked{% endif %}>
                        Speed
                    </td>
                    <td>
                        <input type="checkbox" name="sort" value="handl" title="handling"
                               {% if "handl" in request.args.getlist('sort') %}checked{% endif %}>
                        Handling
                    </td>
                </form>
            </tr>
        </thead>
        <tbody>
            {% for car in database %}
            <tr>
                <td>{{ car.key().get_name_value() }}</td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_accel_value() }}%">{{ car.key().get_accel_value() }}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_speed_value() }}%">{{ car.key().get_speed_value() }}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_handl_value() }}%">{{ car.key().get_handl_value() }}%</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><p>The query took {{ querytime }} seconds.</p></div>
{% endblock %}
