{% extends "baser.html" %}

{% block main %}
    <table class="product_table">
        <thead>
            <tr>
                <form action="/" method="get">
                    <td>
                        <!-- The settings select boxes -->
                        <select name="agregate" title="comparsion function">
                            <option value="sum" {% if form_data['agregate'] == "sum" %}selected{% endif %}>sum</option>
                            <option value="max" {% if form_data['agregate'] == "max" %}selected{% endif %}>max</option>
                        </select>
                        <select name="algorithm" title="query algorithm">
                            <option value="naive" {% if form_data['algorithm'] == "naive" %}selected{% endif %}>naive</option>
                            <option value="treshold" {% if form_data['algorithm'] == "treshold" %}selected{% endif %}>treshold</option>
                        </select>
                        <!-- Quantity and submit button -->
                        <input type="number" name="quantity" min="1" max="20" value="{{ form_data['quantity'] or 10 }}" title="query size">
                        <input type="submit" value="Sort by parameters" title="submit the query">
                    </td>
                    <!-- Checkboxes for sorting based on individual/combined atributes -->
                    <td>
                        <input type="checkbox" name="sort" value="accel" title="acceleration"
                               {% if form_data['checkbox']['accel'] == True %}checked{% endif %}>
                        Acceleration
                    </td>
                    <td>
                        <input type="checkbox" name="sort" value="speed" title="speed"
                               {% if form_data['checkbox']['speed'] == True %}checked{% endif %}>
                        Speed
                    </td>
                    <td>
                        <input type="checkbox" name="sort" value="handl" title="handling"
                               {% if form_data['checkbox']['handl'] == True %}checked{% endif %}>
                        Handling
                    </td>
                </form>
            </tr>
        </thead>
        <tbody>
            {% for car in database %}
            <tr>
                <td>{{ car.key().get_name_value() }}</td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_accel_value() }}%">{{ car.key().get_accel_value() }}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_speed_value() }}%">{{ car.key().get_speed_value() }}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{ car.key().get_handl_value() }}%">{{ car.key().get_handl_value() }}%</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><p>The query took {{ querytime }} seconds.</p></div>
{% endblock %}
