{% extends "baser.html" %}

{% block main %}
    <h2>Select a dataset</h2>
    <p>{{ payload }}</p>
    <form action="/settings" method="get">
        <select name="dataset" title="the dataset used">
            <option value="NFS" {% if dataset == "NFS" %}selected{% endif %}>Need for Speed</option>
            <option value="random" {% if dataset == "random" %}selected{% endif %}>Cars random</option>
            <option value="wordlist" {% if dataset == "wordlist" %}selected{% endif %}>Czech Wordlist</option>
        </select>
        <input type="submit" value="Set the dataset" title="Set the settings">
    </form>

    <h2>About the Datasets</h2>
        There are currently 3 dataset. All of them contain a string representing the name and 3 values between 0 and 100.
        <h3>NFS - 31 items</h3>
            This dataset contains cars and values from the Need For Speed: Most Wanted.
        <h3>Cars - 7200 items</h3>
            Cars dataset contains names of cars followed by randomly generated values.
        <h3>Wordlist - 160 000 items</h3>
            I've included this dataset to see how the algorithms handle bigger data. The values are randomly generated.

{% endblock %}
