{% extends "baser.html" %}

{% block main %}
    <table class="product_table">
        <thead>
            <tr>
                <td>Name</td>
                <td><a href="?sortby=acceleration">Acceleration</a></td>
                <td><a href="?sortby=speed">Speed</a></td>
                <td><a href="?sortby=handling">Handling</a></td>
            </tr>
        </thead>
        <tbody>
            {% for row in database %}
            <tr>
                <td>{{ row[0].name }}</td>
                <td class="product_parameter">
                    <span style="width:{{ row[0].acceleration }}%">{{ row[0].acceleration }}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{ row[0].speed }}%">{{ row[0].speed }}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{ row[0].handling }}%">{{ row[0].handling }}%</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><p>{{ content }}</p></div>
{% endblock %}
