{% extends "baser.html" %}

{% block main %}
    <table class="product_table">
        <thead>
            <tr>
                <td><a href="?sortby=name">Name</a></td>
                <td><a href="?sortby=acceleration">Acceleration</a></td>
                <td><a href="?sortby=speed">Speed</a></td>
                <td><a href="?sortby=handling">Handling</a></td>
            </tr>
        </thead>
        <tbody>
            {% for row in database %}
            <tr>
                <td>{{ row['name'] }}</td>
                <td class="product_parameter">
                    <span style="width:{{row['acceleration']}}%">{{row['acceleration']}}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{row['speed']}}%">{{row['speed']}}%</span>
                </td>
                <td class="product_parameter">
                    <span style="width:{{row['handling']}}%">{{row['handling']}}%</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><p>{{ content }}</p></div>
{% endblock %}
