@charset "utf-8";
/* CSS Document */

.wholeweb {
	margin: 0 auto;	
	background-color: #FFF;
	display: block;
	width: 60%;
	height: 80%;
	margin-top: 50px;
	font-size: small;
	font-weight:200;
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
}

.header, .main, .footer {
	clear: both;
	text-align: left;
	display: block;
}

.header {

}

.main {

}

.footer {
	color: #999;
}

.line {
	border-bottom: 1px dotted #CCCCCC;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

p {
	text-align: justify;
	clear: both;
}

.product_table {
	width: 100%;
}

.product_parameter {
	width: 200px;
	padding: 0;
}

.product_parameter span {
	display: inline-block;
	height: 100%;
	background-color:pink;
	padding: 2px;
}
