@charset "utf-8";
/* CSS Document */

#wholeweb {
	background-color: #FFF;
	display: block;
	min-width: 620px;
	width: 60%;
	height: 80%;
	margin: 50px auto 0;
	font-size: small;
	font-weight:200;
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
}

#header, #main, #footer {
	clear: both;
	text-align: left;
	display: block;
}

#header {
	text-align: center;
	padding-bottom: 0;
}

#main {

}

#footer {
	color: #999;
	margin-top: 1em;
	border-top: 2px solid #CCCCCC;
}

#headertext {
	font-size: 1.6vw;
}

#headertext h1 {
	padding-bottom: 0;
	margin-bottom: 0px;
	color: #1df0c6;
	text-shadow: -2px -2px 0px #000000;
}

#navbar {
	text-align: left;
	display: block;
	font-size: large;
	padding: 0.5em;
	border-top: 2px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.navbarbutton {
	display: inline-block;
	padding: 0 5px 0 5px;
}

#navbar a {
	text-decoration:none;
}

h2:after
{
    content:' ';
    display:block;
    border:2px solid #32364c;
}

h3:after
{
    content:' ';
    display:block;
    border:1px solid #d6d6d6;
}

p {
	text-align: justify;
	clear: both;
}

a {
	color: #f01d9c;
}

a:after {
	color: #f01d9c;
}

.product_table {
	width: 100%;
	border-collapse:collapse;
}

.product_table tbody td {
	border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.product_table thead td {
	border-bottom: 5px solid #eeeeee;
	padding: 4px 7px 4px 7px;
	background-color: rgba(240, 43, 55, 0.6);
}

.product_table tbody tr:nth-child(odd) {
	background: #FFF;
}

.product_table tbody tr:nth-child(even) {
	background: #eeeeee;
}

.product_parameter {
	width: 20%;
	padding: 0;
}

.product_percentage {
	display: inline-block;
	height: 100%;
	background-color: rgba(156, 240, 29, 0.7);
	padding-top: 3px;
	padding-bottom: 3px;
}

.product_percentage_text {
	padding-left: 3px;
	padding-right: 3px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h4 {
	padding-bottom: 0;
	margin-bottom: 0;
}

img {
    display: block;
    width: 70%;
	padding: 5px;
}

.image_left, .image_right {
	width: 50%;
	padding: 0;
	margin: 0;
}

.image_left {
	float: left;
}

.image_right {
	float: right;
}

figure {
	margin: 5px 0 0 0;
}