@charset "utf-8";
/* CSS Document */

#wholeweb {
	margin: 0 auto;	
	background-color: #FFF;
	display: block;
	width: 60%;
	height: 80%;
	margin-top: 50px;
	font-size: small;
	font-weight:200;
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
}

#header, #main, #footer {
	clear: both;
	text-align: left;
	display: block;
}

#header {
	text-align: center;
	padding-bottom: 0.5em;
}

#main {
	border: 5px black;
}

#footer {
	color: #999;
	margin-top: 1em;
	border-top: 1px solid #CCCCCC;
}

#headertext {

}

#navbar {
	text-align: left;
	display: block;
	font-size: large;
	padding: 0.6em;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.navbarbutton {
	display: inline-block;
	padding: 0 5px 0 5px;
}

#navbar a {
	text-decoration:none;
}


.line {
	border-bottom: 1px dotted #CCCCCC;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}

p {
	text-align: justify;
	clear: both;
}

.product_table {
	width: 100%;
	border-collapse:collapse;
}

.product_table td {
	border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.product_table thead td {
	padding: 10px;
	background-color: rgba(255, 105, 180, 0.4);
}

.product_table tbody tr:nth-child(odd) {
	background: #FFF;
}

.product_table tbody tr:nth-child(even) {
	background: #eeeeee;
}

.product_parameter {
	width: 20%;
	padding: 0;
}

.product_parameter span {
	display: inline-block;
	height: 100%;
	background-color: rgba(157, 255, 42, 0.4);
	padding: 2px;
}
